*{
    box-sizing: border-box;
}
body{
    background-color: rgb(145, 62, 62);
}
.galeria img{
width: 100px;
}
.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.kep{
    border: 1px solid pink;
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;

}
.hattalmaskep{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto 1fr;
}

.hattalmaskep img{
    width: 500px;
    height: 350px;
}   


header{
    display: flex;
}